.page-not-found-image {
  width: 100vw;
  height: 90vh;
  position: relative;
}
.buttons-container {
  display: flex;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 450px) {
  .buttons-container {
    position: absolute;
    bottom: 8rem;
  }
}
